/* App-specific styles */

.app-main-content {
  padding-inline: clamp(0.5rem, 3vw, 1.5rem);
}

.mobile-toggle {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }
  .mobile-toggle {
    display: block;
    cursor: pointer;
  }
}
